img{
    display: flex;
    width: 100%;
}

.name{
    font-family: cursive;
}

.head{
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {background-color: rgb(11, 196, 134);}
    to {background-color: rgb(194, 153, 40);}
  }

div > h1{
color: aliceblue;
font-weight: bolder;
}

#navbar{
    background-color: rgb(209, 207, 207);
    border-radius: 3px;
}

#nav-btn{
    font-weight: bolder;
    font-size: larger;
    color: rgb(250, 253, 44);

    background-color: rgb(74, 104, 114);
}

#exptable{
    background-color: rgba(64, 228, 240, 0.39);
}

.skills{
    margin-top: 10%;
}

.exp{
    margin-top: 10%;
}

.statistic{
    margin-top: 10%;
}

.facebook{
    background-color: rgb(33, 119, 233);
    color: whitesmoke;
    border-radius: 5cm;
    font-size: 20px;
    font-weight: bolder;
}

.facebook:hover{
    background-color: rgba(33, 120, 233, 0.658);
    
    text-decoration: unset;
}

.about{
    font-family: "Helvetica Neue";
}

footer{
    background-color:rgba(192, 192, 192, 0.582);
}

.send-btn:hover{
transform: scale(2, 2);
translate: (12px, 50%);
transition: 2s;
}
